:root {
  font-family: "Workbench", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,10,41,1) 35%, rgba(38,3,31,1) 100%);
  background-repeat: repeat; /* Makes it tile across the screen */
  background-size: auto; /* Keeps the original image size */
}

.game-info-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Share Tech Mono", monospace;
}

.game-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.page-title{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ddd;
  max-width: fit-content;
  white-space: nowrap;
  margin-right: 30%;
}

.game-form {
  display: flex;
  align-items: centerl;
  height:50px;
  gap: 10px;
  margin-bottom: 20px;
}

.game-input {
  flex: 1;
  white-space: nowrap;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cf8300;
  color: white;
  border: none;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.game-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-description {
  font-size: 16px;
  color: color;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.game-section {
  margin-bottom: 20px;
}

.game-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.game-list {
  list-style-type: none;
  padding: 0;
}

.game-list-item {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.release-date {
  font-size: 16px;
  color: #ddd;
  border-radius: 4px;
  border: 1px solid #ddd;
}